<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Pendaftaran Kartu Parkir</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"/>
  
  <link rel="shortcut icon" href="{{url_for('static', filename='img/IoTIK_Park_Logo.png')}}" type="image/png">
  
  <!---Custom CSS File--->
  <link rel="stylesheet" href="/static/css/style3.css" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
</head>
<body>
  <section class="container">
    <header>Pendaftaran Kartu Parkir</header>
    <br>
    <!-- <p>Pembayaran dapat dilakukan melalui: <br>
      - mandiri xxxxxxxxxxxxxx/a.n. Fauzi <br>
      - Dana xxxxxxxxxxxxxxx/a.n. Fuada <br>
      - Gopay xxxxxxxxxxxx/a.n. Zidane
    </p> -->
    <hr>
    <form method="POST" class="form">
      <div class="input-box">
        <label>ID Kartu</label>
        <input type="text" name="nama" placeholder="{{id_kartu}}" disabled />
      </div>
      <div class="input-box">
        <label>Nama</label>
        <input type="text" name="nama" placeholder="ex: Joe Mama" required />
      </div>
      <div class="input-box">
        <label>Nomor Polisi</label>
        <input type="text" name="nopol" placeholder="ex: B 9900 ABC" required />
      </div>
      <!-- <div class="input-box">
        <label>Bukti Transaksi</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div> -->
      <button type="submit">Submit</button>
    </form>
  </section>
</body>
</html>
